// Variables for all pages

// Colors
$gray-light: #D9D9D9;
$gray: #908A99;
$purple-more-light: #D2D2EE;
$purple-light: #B5B6E4;
$purple: #776AE0;
$purple-dark: #4F43AE;
$blacK: #000000;
$white: #FFFFFF

